* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
    --background-color-primary: #774069;
    --background-color-secondary: #4c3a69;
    --background-color-tertiary: #2C2A32;
    --background-color-auxiliary: hsl(274, 4%, 15%);
    --background-color-cards: #4c3a69;
    --color-logo: hsl(240, 33%, 77%);
    --text-primary-color: #fafafa;
    --accent-color: hsl(274, 4%, 15%); 
}

:root.dark-theme {
    --background-color-primary: hsl(164, 61%, 65%);
    --background-color-secondary: #AE8FDB;
    --background-color-tertiary: #FEF8B4;
    --background-color-auxiliary: hsl(300, 11%, 96%);
    --background-color-cards: #F7F7F7;
    --color-logo: hsl(164, 61%, 65%);
    --text-primary-color: #404040;
    --accent-color: #fafafa;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--background-color-auxiliary);
}

::-webkit-scrollbar-thumb {
    background: var(--background-color-primary);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #AE8FDB;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('@/assets/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('@/assets/Montserrat/static/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Extra Light';
    src: url('@/assets/Montserrat/static/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Extra Bold';
    src: url('@/assets/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Extra Bold Italic';
    src: url('@/assets/Open_Sans/static/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Medium';
    src: url('@/assets/Open_Sans/static/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Light Italic';
    src: url('@/assets/Open_Sans/static/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('@/assets/Open_Sans/static/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('@/assets/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('@/assets/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Regular';
    src: url('@/assets/Merriweather/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Light';
    src: url('@/assets/Merriweather/Merriweather-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Light Italic';
    src: url('@/assets/Merriweather/Merriweather-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Lilita One';
    src: url('@/assets/Lilita_One/LilitaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cat Comic';
    src: url('@/assets/cat_comic/Cat_Comic.ttf') format('truetype');
}

@font-face {
    font-family: 'Simple Daily';
    src: url('@/assets/simple_daily/Simple Daily.ttf') format('truetype');
}

@font-face {
    font-family: 'Mosk Ultra Bold';
    src: url('@/assets/mosk/Mosk Ultra-Bold 900.ttf') format('truetype');
}

@font-face {
    font-family: 'Mosk Medium';
    src: url('@/assets/mosk/Mosk Medium 500.ttf') format('truetype');
}

@font-face {
    font-family: 'Mosk Bold';
    src: url('@/assets/mosk/Mosk Bold 700.ttf') format('truetype');
}

@font-face {
    font-family: 'Mosk Light';
    src: url('@/assets/mosk/Mosk Light 300.ttf') format('truetype');
}

@font-face {
    font-family: 'Hello Valentica';
    src: url('@/assets/hello_valentica/Hello Valentina.ttf') format('truetype');
}