
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('@/assets/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('@/assets/Montserrat/static/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Extra Light';
    src: url('@/assets/Montserrat/static/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Extra Bold';
    src: url('@/assets/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Extra Bold Italic';
    src: url('@/assets/Open_Sans/static/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Medium';
    src: url('@/assets/Open_Sans/static/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Light Italic';
    src: url('@/assets/Open_Sans/static/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('@/assets/Open_Sans/static/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('@/assets/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('@/assets/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Regular';
    src: url('@/assets/Merriweather/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Light';
    src: url('@/assets/Merriweather/Merriweather-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Light Italic';
    src: url('@/assets/Merriweather/Merriweather-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Lilita One';
    src: url('@/assets/Lilita_One/LilitaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cat Comic';
    src: url('@/assets/cat_comic/Cat_Comic.ttf') format('truetype');
}

@font-face {
    font-family: 'Simple Daily';
    src: url('@/assets/simple_daily/Simple Daily.ttf') format('truetype');
}

@font-face {
    font-family: 'Mosk Ultra Bold';
    src: url('@/assets/mosk/Mosk Ultra-Bold 900.ttf') format('truetype');
}

@font-face {
    font-family: 'Hello Valentica';
    src: url('@/assets/hello_valentica/Hello Valentina.ttf') format('truetype');
}
